{
  "infraAccPortGrp": {
    "attributes": {
      "descr": "installed by ACIBOOTSTRAP",
      "dn": "uni/infra/funcprof/accportgrp-L3-router-out",
      "name": "L3-router-out",
      "ownerKey": "",
      "ownerTag": ""
    },
    "children": [
      {
        "infraRsL2IfPol": {
          "attributes": {
            "tnL2IfPolName": ""
          }
        }
      },
      {
        "infraRsQosPfcIfPol": {
          "attributes": {
            "tnQosPfcIfPolName": ""
          }
        }
      },
      {
        "infraRsHIfPol": {
          "attributes": {
            "tnFabricHIfPolName": "{{ router_speed }}"
          }
        }
      },
      {
        "infraRsL2PortSecurityPol": {
          "attributes": {
            "tnL2PortSecurityPolName": ""
          }
        }
      },
      {
        "infraRsMonIfInfraPol": {
          "attributes": {
            "tnMonInfraPolName": ""
          }
        }
      },
      {
        "infraRsStpIfPol": {
          "attributes": {
            "tnStpIfPolName": ""
          }
        }
      },
      {
        "infraRsQosSdIfPol": {
          "attributes": {
            "tnQosSdIfPolName": ""
          }
        }
      },
      {
        "infraRsAttEntP": {
          "attributes": {
            "tDn": "uni/infra/attentp-router"
          }
        }
      },
      {
        "infraRsMcpIfPol": {
          "attributes": {
            "tnMcpIfPolName": ""
          }
        }
      },
      {
        "infraRsQosDppIfPol": {
          "attributes": {
            "tnQosDppPolName": ""
          }
        }
      },
      {
        "infraRsQosIngressDppIfPol": {
          "attributes": {
            "tnQosDppPolName": ""
          }
        }
      },
      {
        "infraRsStormctrlIfPol": {
          "attributes": {
            "tnStormctrlIfPolName": ""
          }
        }
      },
      {
        "infraRsQosEgressDppIfPol": {
          "attributes": {
            "tnQosDppPolName": ""
          }
        }
      },
      {
        "infraRsFcIfPol": {
          "attributes": {
            "tnFcIfPolName": ""
          }
        }
      },
      {
        "infraRsLldpIfPol": {
          "attributes": {
            "tnLldpIfPolName": "LLDP_ENABLE"
          }
        }
      },
      {
        "infraRsCdpIfPol": {
          "attributes": {
            "tnCdpIfPolName": "CDP_ENABLE"
          }
        }
      }
    ]
  }
}
