{"totalCount":"1","imdata":[{"bgpInstPol":{"attributes":{"descr":"","dn":"uni/fabric/bgpInstP-default","name":"default","ownerKey":"","ownerTag":""},"children":[{"bgpRRP":{"attributes":{"descr":"","name":""},"children":[{"bgpRRNodePEp":{"attributes":{"descr":"","id":"201","podId":"1"}}}]}},{"bgpAsP":{"attributes":{"asn":"100","descr":"","name":""}}}]}}]}