{
  "bgpInstPol": {
    "attributes": {
      "descr": "",
      "dn": "uni/fabric/bgpInstP-default",
      "name": "default",
      "ownerKey": "",
      "ownerTag": ""
    },
    "children": [
      {
        "bgpRRP": {
          "attributes": {
            "descr": "",
            "name": ""
          },
          "children": [
            {
              "bgpRRNodePEp": {
                "attributes": {
                  "descr": "",
                  "id": "{{ item }}",
                  "podId": "1"
                }
              }
            }
          ]
        }
      },
      {
        "bgpAsP": {
          "attributes": {
            "asn": "{{ bgp_as }}",
            "descr": "",
            "name": ""
          }
        }
      }
    ]
  }
}
