{"fvCtx":{"attributes":{"descr":"created by ACIBOOTSTRAP","dn":"uni/tn-{{tenant_name}}/ctx-{{vrf_name}}","knwMcastAct":"permit","name":"{{vrf_name}}","status":"{{status}}","ownerKey":"","ownerTag":"","pcEnfDir":"ingress","pcEnfPref":"enforced"},"children":[{"vzAny":{"attributes":{"descr":"","matchT":"AtleastOne","name":""}}},{"fvRsOspfCtxPol":{"attributes":{"tnOspfCtxPolName":""}}},{"fvRsCtxToEpRet":{"attributes":{"tnFvEpRetPolName":""}}},{"fvRsCtxToExtRouteTagPol":{"attributes":{"tnL3extRouteTagPolName":""}}},{"fvRsBgpCtxPol":{"attributes":{"tnBgpCtxPolName":""}}}]}}
