{"vzFilter":{"attributes":{"descr":"{{ descr }}","dn":"uni/tn-common/flt-web","name":"web","status":"{{ status }}", "ownerKey":"","ownerTag":""},"children":[{"vzEntry":{"attributes":{"applyToFrag":"no","arpOpc":"unspecified","dFromPort":"https","dToPort":"https","descr":"","etherT":"ip","icmpv4T":"unspecified","icmpv6T":"unspecified","matchDscp":"unspecified","name":"https","prot":"tcp","sFromPort":"unspecified","sToPort":"unspecified","stateful":"no","tcpRules":""}}},{"vzEntry":{"attributes":{"applyToFrag":"no","arpOpc":"unspecified","dFromPort":"http","dToPort":"http","descr":"","etherT":"ip","icmpv4T":"unspecified","icmpv6T":"unspecified","matchDscp":"unspecified","name":"http","prot":"tcp","sFromPort":"unspecified","sToPort":"unspecified","stateful":"no","tcpRules":""}}}]}}