{"vzFilter":{"attributes":{"descr":"{{ descr }}","dn":"uni/tn-common/flt-ALLOW_ALL","name":"ALLOW_ALL","status":"{{ status }}", "ownerKey":"","ownerTag":""},"children":[{"vzEntry":{"attributes":{"applyToFrag":"no","arpOpc":"unspecified","dFromPort":"unspecified","dToPort":"unspecified","descr":"","etherT":"unspecified","icmpv4T":"unspecified","icmpv6T":"unspecified","matchDscp":"unspecified","name":"all","prot":"unspecified","sFromPort":"unspecified","sToPort":"unspecified","stateful":"no","tcpRules":""}}}]}}