{"datetimeFormat":{"attributes":{"descr":"","displayFormat":"local","dn":"uni/fabric/format-default","name":"default","nameAlias":"","ownerKey":"","ownerTag":"","showOffset":"enabled","tz":"{{ tz }}"}}}
