{"fabricHIfPol":{"attributes":{"autoNeg":"on","descr":"","dn":"uni/infra/hintfpol-{{item}}-auto","fecMode":"inherit","linkDebounce":"100","name":"{{item}}-auto","ownerKey":"","ownerTag":"","speed":"{{item}}"}}}
