{
  "infraHPortS": {
    "attributes": {
      "descr": "installed by ACIBOOTSTRAP",
      "dn": "uni/infra/accportprof-rack_server_block/hports-e1-{{ item.port }}-typ-range",
      "name": "e1-{{ item.port }}",
      "ownerKey": "",
      "ownerTag": "",
      "type": "range"
    },
    "children": [
      {
        "infraRsAccBaseGrp": {
          "attributes": {
            "fexId": "101",
            "tDn": "uni/infra/funcprof/accportgrp-{{ item.speed }}-server"
          }
        }
      },
      {
        "infraPortBlk": {
          "attributes": {
            "descr": "",
            "fromCard": "1",
            "fromPort": "{{ item.port }}",
            "name": "block2",
            "toCard": "1",
            "toPort": "{{ item.port }}"
          }
        }
      }
    ]
  }
}
