{
  "ospfIfPol": {
    "attributes": {
      "cost": "100",
      "ctrl": "",
      "deadIntvl": "40",
      "descr": "",
      "dn": "uni/tn-{{ item.name }}/ospfIfPol-ospf-policy-p2p",
      "helloIntvl": "10",
      "name": "ospf-policy-p2p",
      "nwT": "p2p",
      "ownerKey": "",
      "ownerTag": "",
      "pfxSuppress": "inherit",
      "prio": "1",
      "rexmitIntvl": "5",
      "xmitDelay": "1"
    }
  }
}
