{
  "l3extOut": {
    "attributes": {
      "descr": "installed by ACIBOOTSTRAP",
      "dn": "uni/tn-{{ item.name }}/out-{{ item.name }}-routed-out",
      "enforceRtctrl": "export",
      "name": "{{ item.name }}-routed-out",
      "ownerKey": "",
      "ownerTag": "",
      "targetDscp": "unspecified"
    },
    "children": [
      {
        "l3extRsL3DomAtt": {
          "attributes": {
            "tDn": "uni/l3dom-router"
          }
        }
      },
      {
        "l3extRsEctx": {
          "attributes": {
            "tnFvCtxName": "default"
          }
        }
      },
      {
        "l3extLNodeP": {
          "attributes": {
            "configIssues": "",
            "descr": "installed by ACIBOOTSTRAP",
            "name": "{{ item.name }}-border-leaf",
            "ownerKey": "",
            "ownerTag": "",
            "tag": "yellow-green",
            "targetDscp": "unspecified"
          },
          "children": [
            {
              "l3extRsNodeL3OutAtt": {
                "attributes": {
                  "rtrId": "{{ item.102.router_id }}",
                  "rtrIdLoopBack": "yes",
                  "tDn": "topology/pod-1/node-102"
                },
                "children": [
                ]
              }
            },
            {
              "l3extRsNodeL3OutAtt": {
                "attributes": {
                  "rtrId": "{{ item.101.router_id }}",
                  "rtrIdLoopBack": "yes",
                  "tDn": "topology/pod-1/node-101"
                },
                "children": [
                ]
              }
            },
            {
              "l3extLIfP": {
                "attributes": {
                  "descr": "installed by ACIBOOTSTRAP",
                  "name": "{{ item.name }}-routed-interfaces",
                  "ownerKey": "",
                  "ownerTag": "",
                  "tag": "yellow-green"
                },
                "children": [
                  {
                    "l3extRsPathL3OutAtt": {
                      "attributes": {
                        "addr": "{{ item.102.r_address }}",
                        "descr": "installed by ACIBOOTSTRAP",
                        "encap": "vlan-{{ item.102.encap }}",
                        "encapScope": "local",
                        "ifInstT": "sub-interface",
                        "llAddr": "::",
                        "mode": "regular",
                        "mtu": "inherit",
                        "tDn": "topology/pod-1/paths-102/pathep-[eth1/2]",
                        "targetDscp": "unspecified"
                      }
                    }
                  },
                  {
                    "l3extRsPathL3OutAtt": {
                      "attributes": {
                        "addr": "{{ item.101.r_address }}",
                        "descr": "installed by ACIBOOTSTRAP",
                        "encap": "vlan-{{ item.101.encap }}",
                        "encapScope": "local",
                        "ifInstT": "sub-interface",
                        "llAddr": "::",
                        "mode": "regular",
                        "mtu": "inherit",
                        "tDn": "topology/pod-1/paths-101/pathep-[eth1/2]",
                        "targetDscp": "unspecified"
                      }
                    }
                  },
                  {
                    "l3extRsNdIfPol": {
                      "attributes": {
                        "tnNdIfPolName": ""
                      }
                    }
                  },
                  {
                    "l3extRsIngressQosDppPol": {
                      "attributes": {
                        "tnQosDppPolName": ""
                      }
                    }
                  },
                  {
                    "l3extRsEgressQosDppPol": {
                      "attributes": {
                        "tnQosDppPolName": ""
                      }
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      {
        "l3extInstP": {
          "attributes": {
            "descr": "installed by ACIBOOTSTRAP",
            "matchT": "AtleastOne",
            "name": "CATCH_ALL",
            "prio": "unspecified",
            "targetDscp": "unspecified"
          },
          "children": [
            {
              "l3extSubnet": {
                "attributes": {
                  "aggregate": "",
                  "descr": "installed by ACIBOOTSTRAP",
                  "ip": "0.0.0.0/0",
                  "name": "",
                  "scope": "import-security"
                }
              }
            },
            {
              "fvRsCustQosPol": {
                "attributes": {
                  "tnQosCustomPolName": ""
                }
              }
            }
          ]
        }
      },
      {
        "eigrpExtP": {
          "attributes": {
            "asn": "{{ item.eigrp.as }}",
            "descr": "installed by ACIBOOTSTRAP"
          }
        }
      }
    ]
  }
}
