{
  "fvRsDomAtt": {
    "attributes": {
      "classPref": "encap",
      "delimiter": "",
      "dn": "uni/tn-{{ item.0.name }}/ap-POC-3tier/epg-{{ item.1 }}/rsdomAtt-[uni/vmmp-VMware/dom-aci-poc-vds]",
      "encap": "unknown",
      "instrImedcy": "lazy",
      "primaryEncap": "unknown",
      "resImedcy": "immediate",
      "tDn": "uni/vmmp-VMware/dom-aci-poc-vds"
    },
    "children": [
      {
        "vmmSecP": {
          "attributes": {
            "allowPromiscuous": "reject",
            "descr": "",
            "forgedTransmits": "reject",
            "macChanges": "reject",
            "name": "",
            "ownerKey": "",
            "ownerTag": ""
          }
        }
      }
    ]
  }
}
