{"fvSubnet":{"attributes":{"ctrl":"","descr":"{{ descr }}","dn":"uni/tn-{{ tenant.name }}/BD-FRONT-END/subnet-[{{ item.address }}]","ip":"{{ item.address }}","name":"","preferred":"no","scope":"public","virtual":"no"}}}
