{"fvSubnet":{"attributes":{"ctrl":"","descr":"{{ descr }}","dn":"uni/tn-{{ item.0.name }}/BD-BACK-END/subnet-[{{ item.1.address }}]","ip":"{{ item.1.address }}","name":"","preferred":"no","scope":"private","virtual":"no"}}}
