{"fvTenant":{"attributes":{"descr":"installed by ACIBOOTSTRAP","dn":"uni/tn-{{tenant_name}}","name":"{{tenant_name}}","ownerKey":"","ownerTag":"", "status":"{{status}}"},"children":[{"vnsSvcCont":{"attributes":{}}},{"fvRsTenantMonPol":{"attributes":{"tnMonEPGPolName":""}}}]}}
