{"totalCount":"1","imdata":[{"bgpInstPol":{"attributes":{"descr":"","dn":"uni/fabric/bgpInstP-default","name":"default","nameAlias":"","ownerKey":"","ownerTag":""},"children":[{"bgpRRP":{"attributes":{"descr":"","name":"","nameAlias":""},"children":[{"bgpRRNodePEp":{"attributes":{"descr":"","id":"201","nameAlias":"","podId":"1"}}}]}},{"bgpAsP":{"attributes":{"asn":"100","descr":"","name":"","nameAlias":""}}}]}}]}